<div>
  <div class="container my-1">
    <div class="row">
      <div class="col-md-6 text-left">
        <span class="small">info@kirs.gov.ng, 08036000000</span>
      </div>

      <div class="col-md-6 text-right">
        <a routerLink="register"><span class="small">Register</span></a>
        |
        <a routerLink="login"><span class="small">Login</span></a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand navbar-dark bg-success justify-content-between site-header sticky-top">
  <div class="container collapse navbar-collapse">
    <div class="lead">
      <a class="navbar-brand" routerLink="">
        <img src="../../assets/img/logo.png" width="70px" height="70px" alt="KIRS Logo" />
      </a>
      <span class="text-white tittle">KIRS</span>
    </div>
    <ul class="navbar-nav text text-light">
      <li class="nav-item-active">
        <a class="nav-link " routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="platenumbers">Plate Numbers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="help">Help</a>
      </li>

    </ul>
  </div>
</nav>
