<div class="col-md-6 mb-5">
  <form method="post">
    <legend>OWNERSHIP DETAILS</legend>
    <div class="form-group">
      <label for="vendor">VENDOR NAME</label>
      <input type="text" class="form-control" id="vendor" placeholder="Vendor Name">
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="purchase-nature">NATURE OF PURCHASE</label>
        <select name="purchase-nature" class="form-control" id="purchase-nautre" placeholder="Nature of Purchase">
          <option>-Select-</option>
          <option>Brand New</option>
          <option>Used</option>
          <option>Belgium</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="date-purchase">DATE PURCHASED</label>
        <input type="date" class="form-control" id="date-purchase" placeholder="Date Purchase">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="year-manufactured">YEAR MANUFACTURED</label>
        <input type="text" class="form-control" id="man-year" year-manufactured="Year Manufactured" placeholder="Year Manufactured"
        />
      </div>

      <div class="form-group col-md-6">
        <label for="v-intended-use">INTENDED USE</label>
        <select name="v-intended-use" class="form-control" id="v-intended-use" placeholder="Vehicle Intended Use">
          <option>-Select-</option>
          <option>Private</option>
          <option>Commercial</option>
          <option>Government</option>
          <option>Military</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <i class="fah fah-save"></i>
      <input type="submit" class="btn btn-success px-5" value="Save & Continue" />
    </div>
  </form>
</div>
