<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-center font-weight-bold">Search Filter</h6>
        </div>
        <form class="card-body" name="plate-number-selector" id="plate-number-selector" method="post">

          <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio" value="private" name="number-type" id="private">
              <label class="custom-control-label font-weight-bold" for="private">Private</label>
            </div>
          </div>

          <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
              <input class="custom-control-input" type="radio" value="commercial" name="number-type" id="commercial">
              <label class="custom-control-label font-weight-bold" for="commercial">Commercial</label>
            </div>
          </div>

          <div class="form-group">
            <label for="state" class="font-weight-bold">State</label>
            <select class="custom-select" name="state" id="state">
              <option>-Select State-</option>
              <option>Kano</option>
            </select>
          </div>

          <div class="form-group">
            <label for="local-govt" class="font-weight-bold">Local Government</label>
            <select class="custom-select" name="local-govt" id="local-govt">
              <option>-Select Local Govt-</option>
              <option>Kabo</option>
              <option>Minjibir</option>
            </select>
          </div>
          <br />
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-success">Filter</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-8">

      <table class="table table-striped table-bordered" name="filtered-numbers" id="filtered-numbers">
        <thead class="bg-success text-light">
          <th>#</th>
          <th>Type</th>
          <th>Local Govt.</th>
          <th>Number</th>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Private</td>
            <td>Gwale</td>
            <td>GWL-874 IL</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Private</td>
            <td>Nasswaraw</td>
            <td>NSR-678 IL</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Commercial</td>
            <td>Tofa</td>
            <td>TFA-778 ZQ</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Private</td>
            <td>Minjibir</td>
            <td>MJB-342 XD</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Commercial</td>
            <td>Kumbotso</td>
            <td>KBT-110 BT</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Commercial</td>
            <td>Tarauni</td>
            <td>TRN-652 AU</td>
          </tr>
        </tbody>

        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
