<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <div class="card-header justify-content-center">
          <div style="border-radius: 50%;">
            <div class="justify-content-center">
              <img src="../../../assets/img/jabyte.png"
                   class="rounded-circle mx-auto d-block img-fluid img-thumbnail width: 40%" alt="User Pic">
              <span class="figure-caption text-center">Change</span>
            </div>
          </div>
        </div>

        <div class="card-body">
          <p class="font-weight-bold">Name: </p>
          <p class="font-weight-bold">Phone Number: </p>
          <p class="font-weight-bold">Email: </p>
          <p class="font-weight-bold">Address: </p>
        </div>

        <div class="card-footer text-muted justify-content-center">
          <a href="" class="font-weight-bold">Edit Profile</a>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 outline">
      <!-- Nav tabs -->
      <ngb-tabset type="pills" [justify]="">

        <ngb-tab title="Vehicles" class="btn-success">
          <ng-template ngbTabContent>
            Vehicles
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Plate Numbers" class="btn-success">
          <ng-template ngbTabContent>
            Plate Numbers
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Applications" class="btn-success">
          <ng-template ngbTabContent>
            Applications
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>Notifications</ng-template>
          <ng-template ngbTabContent>
            Notifications
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Disabled" [disabled]="true">
          <ng-template ngbTabContent>
            Disabled
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </div>
  </div>
</div>
