<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header justify-content-center">
        <h6 class="card-title text-center font-weight-bold">MY PROFILE</h6>
        <div style="border-radius: 50%;">
          <div class="justify-content-center">
            <img src="../../assets/images/jabyte.png" class="rounded-circle mx-auto d-block img-fluid img-thumbnail width: 70%" alt="User Pic">
            <span class="figure-caption align-content-center">Change</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="">NAME: </p>
        <p class="">PHONE NUMBER: </p>
        <p class="">EMAIL: </p>
        <p class="">ADDRESS: </p>
      </div>

      <div class="card-footer text-muted justify-content-center">
        <a href="" class="font-weight-bold">Edit Profile</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-order-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-order"
          aria-selected="true">
          Orders</a>
        <a class="nav-item nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-notification"
          aria-selected="false">
          Notification</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
          aria-selected="false">
          Contact</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-order-tab"></div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-notification-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
  </div>
</div>
